@import "tailwindcss";

/* style for grid cards */
.grid-card {
  @apply bg-neutral-800 p-5 border border-neutral-500 rounded-lg text-slate-100;
}

.input-field {
  @apply block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6;
}